{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["prettier", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react-hooks"],
  "rules": {}
}
